<div class="row">
  <div class="col-md-3">
    <%= image_tag @restaurant.image_url %>

    <h2>
      <%= @restaurant.name %>
    </h2>
    
    <div class="star-rating" data-score=<%= @avg_rating %>></div>
    <p><%= "#{@reviews.length} reviews" %></p>
    
    <p>
      <%= @restaurant.address %>
    </p>
    
    <p>
      <%= @restaurant.phone %>
    </p>
    
    <p>
      <strong>Website:</strong>
      <%= @restaurant.website %>
    </p>
    
    <%= link_to 'Write a Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
    <br/>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
    <%= link_to 'Back', restaurants_path, class: "btn btn-link" %>

  </div>
  
  <div class="col-md-9">
    <% if @reviews.count == 0 %>
      <h3>BE THE FIRST TO WRITE A REVIEW!!!</h3>
    <% else %>
      <table class="table">
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <div class="star-rating" data-score=<%= review.rating %>></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
       
      
    <% end %>
  </div>
  
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-1.amazonaws.com/stanleyeatsyelpclone/stars/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>


