<!-- all common code that appears on every page goes here -->
<!DOCTYPE html>
<html>
<head>
  <title>Stanleyeats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/bootstrapCDN' %>

</head>
<body>
  
  <%= render 'layouts/navbar' %>
  <div class="container">
    <!-- in asp.net this would be the master page, yield inserts all other pages here -->
    <%= yield %> 
    
    <%= render 'layouts/footer' %>
  </div>
  


</body>
</html>
